<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rewin.swhysc.mapper.dao.BondBdMapper">

    <select id="getBondBdList" resultType="com.rewin.swhysc.bean.vo.BondBdVo"
            parameterType="java.util.Map">
        select
        ID as id,
        STOCK_CODE as stockCode,
        STOCK_NAME as stockName,
        RZ_RATIO as rzRatio,
        RQ_RATIO as rqRatio,
        IS_RZ as isRz,
        IS_RQ as isRq,
        BOURSE as bourse,
        to_char(CREATE_DATE,'yyyy-MM-dd') as createDate,
        to_char(UPDATE_DATE,'yyyy-MM-dd') as updateDate,
        CREATE_USER as createUser,
        UPDATE_USER as updateUser,
        STATE as state,
        to_char(TRIM_DATE,'yyyy-MM-dd') as trimDate
        from RZRQ_BOND_BD
        <trim prefix="where" prefixOverrides="and | or">
            <if test="ID != null">
                and ID=#{id}
            </if>
            <if test="stockCode != null">
                and STOCK_CODE=#{stockCode}
            </if>
            <if test="stockName != null">
                and STOCK_NAME=#{stockName}
            </if>
            <if test="trimDate != null">
                and to_char(TRIM_DATE,'yyyy-mm-dd 00:00:00') = #{trimDate}
            </if>
            and STATE in ('2','5','6')
        </trim>
    </select>

    <select id="getAllBondBd" resultType="com.rewin.swhysc.bean.vo.BondBdVo"
            parameterType="java.util.Map">
        select
        ID as id,
        STOCK_CODE as stockCode,
        STOCK_NAME as stockName,
        RZ_RATIO as rzRatio,
        RQ_RATIO as rqRatio,
        IS_RZ as isRz,
        IS_RQ as isRq,
        BOURSE as bourse,
        to_char(CREATE_DATE,'yyyy-MM-dd') as createDate,
        to_char(UPDATE_DATE,'yyyy-MM-dd') as updateDate,
        CREATE_USER as createUser,
        UPDATE_USER as updateUser,
        STATE as state,
        to_char(TRIM_DATE,'yyyy-MM-dd') as trimDate
        from RZRQ_BOND_BD
        <trim prefix="where" prefixOverrides="and | or">
            <if test="ids != null">
                and ID in
                <foreach collection="ids" open="(" close=")" separator="," item="item">
                    #{item,jdbcType=INTEGER}
                </foreach>
            </if>
            <if test="stockCode != null">
                and STOCK_CODE=#{stockCode}
            </if>
            <if test="stockName != null">
                and STOCK_NAME=#{stockName}
            </if>
            <if test="trimDate != null">
                and to_char(TRIM_DATE,'yyyy-mm-dd 00:00:00') = #{trimDate}
            </if>
            <if test="state != null">
                and STATE in (#{states})
            </if>
        </trim>
    </select>

    <select id="getBondBdState" resultType="com.rewin.swhysc.bean.vo.BondBdVo"
            parameterType="java.util.Map">
        select
        ID as id,
        STOCK_CODE as stockCode,
        STOCK_NAME as stockName,
        RZ_RATIO as rzRatio,
        RQ_RATIO as rqRatio,
        IS_RZ as isRz,
        IS_RQ as isRq,
        BOURSE as bourse,
        to_char(CREATE_DATE,'yyyy-MM-dd') as createDate,
        to_char(UPDATE_DATE,'yyyy-MM-dd') as updateDate,
        CREATE_USER as createUser,
        UPDATE_USER as updateUser,
        STATE as state,
        to_char(TRIM_DATE,'yyyy-MM-dd') as trimDate
        from RZRQ_BOND_BD
        <trim prefix="where" prefixOverrides="and | or">
            <if test="id != null">
                and ID=#{id}
            </if>
            <if test="stockCode != null">
                and STOCK_CODE=#{stockCode}
            </if>
            <if test="stockName != null">
                and STOCK_NAME=#{stockName}
            </if>
            <if test="trimDate != null">
                and to_char(TRIM_DATE,'yyyy-mm-dd 00:00:00') = #{trimDate}
            </if>
            and STATE = '2'
        </trim>
    </select>

    <select id="getBondBdInfo" resultType="com.rewin.swhysc.bean.BondBd">
        select
        ID as id,
        STOCK_CODE as stockCode,
        STOCK_NAME as stockName,
        RZ_RATIO as rzRatio,
        RQ_RATIO as rqRatio,
        IS_RZ as isRz,
        IS_RQ as isRq,
        BOURSE as bourse,
        CREATE_DATE as createDate,
        UPDATE_DATE as updateDate,
        CREATE_USER as createUser,
        UPDATE_USER as updateUser,
        STATE as state,
        TRIM_DATE as trimDate
        from RZRQ_BOND_BD
        <trim prefix="where" prefixOverrides="and | or">
            <if test="id != null">
                and ID=#{id}
            </if>
        </trim>
    </select>


    <insert id="insertBondBd" parameterType="com.rewin.swhysc.bean.BondBd"  keyProperty="id">
        <selectKey keyProperty="id" order="BEFORE" resultType="Integer">
            select SEQ_RZRQ_BOND_BD.nextval as sysId from DUAL
        </selectKey>
        insert into RZRQ_BOND_BD(
        ID,
        STOCK_CODE,
        STOCK_NAME,
        RZ_RATIO,
        RQ_RATIO,
        IS_RZ,
        IS_RQ,
        BOURSE,
        CREATE_DATE,
        UPDATE_DATE,
        CREATE_USER,
        UPDATE_USER,
        STATE,
        TRIM_DATE
        )
        values(
        #{id},
        #{stockCode},
        #{stockName},
        #{rzRatio},
        #{rqRatio},
        #{isRz},
        #{isRq},
        #{bourse},
        #{createDate},
        #{updateDate},
        #{createUser},
        #{updateUser},
        #{state},
        #{trimDate})
    </insert>

    <update id="updateBondBd" parameterType="com.rewin.swhysc.bean.BondBd">
        update RZRQ_BOND_BD
        <trim prefix="set" suffixOverrides=",">
            <if test="stockCode != null">
                STOCK_CODE=#{stockCode},
            </if>
            <if test="stockName != null">
                STOCK_NAME=#{stockName},
            </if>
            <if test="rzRatio != null">
                RZ_RATIO=#{rzRatio},
            </if>
            <if test="rqRatio != null">
                RQ_RATIO=#{rqRatio},
            </if>
            <if test="isRz != null">
                IS_RZ=#{isRz},
            </if>
            <if test="isRq != null">
                IS_RQ=#{isRq},
            </if>
            <if test="bourse != null">
                BOURSE=#{bourse},
            </if>
            <if test="updateDate != null">
                UPDATE_DATE=#{updateDate},
            </if>
            <if test="updateUser != null">
                UPDATE_USER=#{updateUser},
            </if>
            <if test="state != null">
                STATE=#{state},
            </if>
            <if test="trimDate != null">
                TRIM_DATE=#{trimDate},
            </if>
        </trim>
        where ID = #{id}
    </update>

    <update id="subDelApproval" parameterType="com.rewin.swhysc.bean.ConvertRate">
        update RZRQ_BOND_BD SET STATE='6'  where ID in
        <foreach collection="ids" open="(" close=")" separator="," item="item">
            #{item,jdbcType=INTEGER}
        </foreach>
    </update>

    <update id="delByIds" parameterType="com.rewin.swhysc.bean.ConvertRate">
        update RZRQ_BOND_BD SET STATE='7'  where ID
        <foreach collection="ids" open="(" close=")" separator="," item="item">
            #{item,jdbcType=INTEGER}
        </foreach>
    </update>

    <update id="setstateByIds" parameterType="com.rewin.swhysc.bean.BondBd">
        update RZRQ_BOND_BD SET STATE=#{state}  where ID in
        <foreach collection="ids" open="(" close=")" separator="," item="item">
            #{item,jdbcType=INTEGER}
        </foreach>
    </update>
</mapper>