<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rewin.swhysc.mapper.dao.NewsNoticeMapper">

    <!-- 根据id查询；返回单个对象 -->
    <select id="getNewsNoticeById" resultType="com.rewin.swhysc.bean.NewsNotice">
        select
        id as id,
        notice_title as noticeTitle,
        notice_type_id as noticeTypeId,
        status as status,
        opinion as opinion,
        auditor as auditor,
        flow as flow,
        is_stick as isStick,
        creator as creator,
        create_time as createTime,
        updater as updater,
        update_time as updateTime,
        verifier as verifier
        from news_notice
        <trim prefix="where" prefixOverrides="and | or">
            <if test="id != null">
                and id=#{id}
            </if>
        </trim>
    </select>

    <!-- 根据条件查询；返回多个对象-->
    <select id="getNewsNoticeListByMap" resultType="com.rewin.swhysc.bean.NewsNotice"
            parameterType="java.util.Map">
        select
        id as id,
        notice_title as noticeTitle,
        notice_type_id as noticeTypeId,
        status as status,
        opinion as opinion,
        auditor as auditor,
        is_stick as isStick,
        flow as flow,
        creator as creator,
        create_time as createTime,
        updater as updater,
        update_time as updateTime,
        verifier as verifier
        from news_notice
        <trim prefix="where" prefixOverrides="and | or">
            <if test="id != null">
                and id=#{id}
            </if>
            <if test="noticeTitle != null">
                and notice_title=#{noticeTitle}
            </if>
            <if test="noticeTypeId != null">
                and notice_type_id=#{noticeTypeId}
            </if>
            <if test="status != null">
                and status=#{status}
            </if>
            <if test="flow != null">
                and flow=#{flow}
            </if>
            <if test="opinion != null">
                and opinion=#{opinion}
            </if>
            <if test="auditor != null">
                and auditor=#{auditor}
            </if>
            <if test="isStick != null">
                and is_stick=#{isStick}
            </if>
            <if test="creator != null">
                and creator=#{creator}
            </if>
            <if test="createTime != null">
                and create_time=#{createTime}
            </if>
            <if test="updater != null">
                and updater=#{updater}
            </if>
        </trim>
        order by is_stick desc,create_time desc
    </select>


    <!-- 后端：根据传入的条件查询新闻列表-->
    <select id="queryNewsList" resultType="com.rewin.swhysc.bean.NewsNotice"
            parameterType="java.util.Map">
        select
        id as id,
        notice_title as noticeTitle,
        notice_type_id as noticeTypeId,
        status as status,
        opinion as opinion,
        auditor as auditor,
        is_stick as isStick,
        flow as flow,
        creator as creator,
        create_time as createTime,
        updater as updater,
        update_time as updateTime,
        verifier as verifier
        from news_notice
        <trim prefix="where" prefixOverrides="and | or">

            <if test="noticeTitle != null">
                and notice_title like concat(concat('%',#{noticeTitle}),'%')
            </if>
            <if test="noticeTypeId != null">
                and notice_type_id=11 or notice_type_id=12 or notice_type_id=13
            </if>
            <if test="noticeTypeId == null">
                and notice_type_id=214 or notice_type_id=215
            </if>
            <if test="status != null and status=='0'">
                and status!=16
            </if>
            <if test="status != null and status!='0'">
                and status=#{status}
            </if>
            <if test="flow != null">
                and flow=#{flow}
            </if>
            <if test="beginTime != null">
                and create_time &gt;=#{beginTime}
                and create_time &lt;= #{endTime}
            </if>
        </trim>
    </select>

    <!--  查询数量：根据传入的条件查询目标数量；返回查询的数量 -->
    <select id="getNewsNoticeCountByMap" resultType="integer" parameterType="java.util.Map">
        select count(*) from news_notice
        <trim prefix="where" prefixOverrides="and | or">
            <if test="id != null">
                and id=#{id}
            </if>
            <if test="noticeTitle != null">
                and notice_title=#{noticeTitle}
            </if>
            <if test="noticeTypeId != null">
                and notice_type_id=#{noticeTypeId}
            </if>
            <if test="status != null">
                and status=#{status}
            </if>
            <if test="opinion != null">
                and opinion=#{opinion}
            </if>
            <if test="auditor != null">
                and auditor=#{auditor}
            </if>
            <if test="isStick != null">
                and is_stick=#{isStick}
            </if>
            <if test="creator != null">
                and creator=#{creator}
            </if>
            <if test="createTime != null">
                and create_time=#{createTime}
            </if>
            <if test="updater != null">
                and updater=#{updater}
            </if>
            <if test="updateTime != null">
                and update_time=#{updateTime}
            </if>
        </trim>
    </select>

    <!--  添加：根据传入的参数添加信息；返回影响的行数 -->
    <insert id="insertNewsNotice" parameterType="com.rewin.swhysc.bean.NewsNotice"
    >

        <selectKey keyProperty="id" order="BEFORE" resultType="Integer">
            select seq_news_notice.nextval as sysId from DUAL
        </selectKey>

        insert into news_notice(
        id,
        notice_title,
        notice_type_id,
        status,
        flow,
        opinion,
        auditor,
        is_stick,
        creator,
        create_time,
        updater,
        update_time,
        verifier)
        values(
        #{id},
        #{noticeTitle},
        #{noticeTypeId},
        #{status},
        #{flow},
        #{opinion,jdbcType=VARCHAR},
        #{auditor,jdbcType=VARCHAR},
        #{isStick},
        #{creator},
        #{createTime},
        #{updater,jdbcType=VARCHAR},
        #{updateTime,jdbcType=VARCHAR},
        #{verifier,jdbcType=VARCHAR})
    </insert>


    <!--  根据id修改：根据传入的参数修改对应的数据库类；返回影响的行数-->
    <update id="updateNewsNotice" parameterType="com.rewin.swhysc.bean.NewsNotice">
        update news_notice
        <trim prefix="set" suffixOverrides=",">
            <if test="noticeTitle != null">
                notice_title=#{noticeTitle},
            </if>
            <if test="noticeTypeId != null">
                notice_type_id=#{noticeTypeId},
            </if>
            <if test="status != null">
                status=#{status},
            </if>
            <if test="flow != null">
                flow=#{flow},
            </if>
            <if test="opinion != null">
                opinion=#{opinion},
            </if>
            <if test="auditor != null">
                auditor=#{auditor},
            </if>
            <if test="verifier != null">
                verifier=#{verifier},
            </if>
            <if test="isStick != null">
                is_stick=#{isStick},
            </if>
            <if test="creator != null">
                creator=#{creator},
            </if>
            <if test="createTime != null">
                create_time=#{createTime},
            </if>
            <if test="updater != null">
                updater=#{updater},
            </if>
            <if test="updateTime != null">
                update_time=#{updateTime}
            </if>
        </trim>
        where id = #{id}
    </update>

    <!--  删除： 根据map删除对象；返回影响的行数-->
    <delete id="deleteNewsNoticeByMap" parameterType="java.util.Map">
        delete from news_notice
        <trim prefix="where" prefixOverrides="and | or">
            <if test="id != null">
                and id=#{id}
            </if>
            <if test="noticeTitle != null">
                and notice_title=#{noticeTitle}
            </if>
            <if test="noticeTypeId != null">
                and notice_type_id=#{noticeTypeId}
            </if>
            <if test="status != null">
                and status=#{status}
            </if>
            <if test="opinion != null">
                and opinion=#{opinion}
            </if>
            <if test="auditor != null">
                and auditor=#{auditor}
            </if>
            <if test="isStick != null">
                and is_stick=#{isStick}
            </if>
            <if test="creator != null">
                and creator=#{creator}
            </if>
            <if test="createTime != null">
                and create_time=#{createTime}
            </if>
            <if test="updater != null">
                and updater=#{updater}
            </if>
        </trim>
    </delete>
</mapper>