<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rewin.swhysc.mapper.dao.RzrqAuditMapper">

    <select id="getRzrqAuditList" resultType="com.rewin.swhysc.bean.RzrqAudit"
            parameterType="java.util.Map">
        select
        ID as id,
        INFO_TYPE as infoType,
        COMMIT_TIME as commitTime,
        COMMIT_USER as commitUser,
        HANDLE_TYPE as handleType,
        AUDIT_STATUS as auditStatus,
        AUDIT_USER as auditUser,
        AUDIT_TIME as auditTime,
        AUDIT_IDEA as auditIdea,
        HANDLE_NUM as handleNum,
        STATE as state
        from RZRQ_AUDIT
        <trim prefix="where" prefixOverrides="and | or">
            <if test="id != null">
                and ID=#{id}
            </if>
            <if test="infoType != null">
                and INFO_TYPE=#{infoType}
            </if>
            <if test="commitTime1 != null">
                and to_char(COMMIT_TIME,'yyyy-mm-dd hh24:mi:ss') &gt;= #{commitTime1}
            </if>
            <if test="commitTime2 != null">
                and to_char(COMMIT_TIME,'yyyy-mm-dd hh24:mi:ss') &lt;= #{commitTime2}
            </if>
            <if test="auditStatus != null">
                and AUDIT_STATUS=#{auditStatus}
            </if>
            <if test="handleType != null">
                and HANDLE_TYPE=#{handleType}
            </if>
            <if test="state != null">
                and STATE=#{state} and STATE != '6'
            </if>
        </trim>
    </select>


    <select id="getRzrqAuditInfo" resultType="com.rewin.swhysc.bean.RzrqAudit">
        select
        ID as id,
        INFO_TYPE as infoType,
        COMMIT_TIME as commitTime,
        COMMIT_USER as commitUser,
        HANDLE_TYPE as handleType,
        AUDIT_STATUS as auditStatus,
        AUDIT_USER as auditUser,
        AUDIT_TIME as auditTime,
        AUDIT_IDEA as auditIdea,
        HANDLE_NUM as handleNum,
        STATE as state
        from RZRQ_AUDIT
        <trim prefix="where" prefixOverrides="and | or">
            <if test="ID != null">
                and ID=#{ID}
            </if>
        </trim>
    </select>

    <insert id="insertRzrqAudit" parameterType="com.rewin.swhysc.bean.RzrqAudit" keyProperty="id">
        <selectKey keyProperty="id" order="BEFORE" resultType="Integer">
            select SEQ_RZRQ_AUDIT.nextval as sysId from DUAL
        </selectKey>
        insert into RZRQ_AUDIT(
        ID,
        INFO_TYPE,
        COMMIT_TIME,
        COMMIT_USER,
        HANDLE_TYPE,
        AUDIT_STATUS,
        HANDLE_NUM,
        STATE
        )
        values(
        #{id},
        #{infoType},
        #{commitTime},
        #{commitUser},
        #{handleType},
        #{auditStatus},
        #{handleNum},
        #{state})
    </insert>

    <update id="updateRzrqAudit" parameterType="com.rewin.swhysc.bean.RzrqAudit">
        update RZRQ_AUDIT
        <trim prefix="set" suffixOverrides=",">
            <if test="handleType != null">
                HANDLE_TYPE=#{handleType},
            </if>
            <if test="auditStatus != null">
                AUDIT_STATUS=#{auditStatus},
            </if>
            <if test="auditUser != null">
                AUDIT_USER=#{auditUser},
            </if>
            <if test="auditTime != null">
                AUDIT_TIME=#{auditTime},
            </if>
            <if test="audotIdea != null">
                AUDIT_IDEA=#{auditIdea},
            </if>
            <if test="state != null">
                STATE=#{state},
            </if>
        </trim>
        where ID = #{id}
    </update>
</mapper>